@import "tailwindcss";
/* (Opcional) Personaliza tokens con v4:
@theme {
 --color-brand: #4f46e5;
 --spacing-xxs: 0.25rem;
}
*/ 
@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}